<div class="page-body">
  <h2>We Love Our Volunteers</h2>
  <!--img src="assets/volunteer/364.jpg" width="709" height="252" alt="Example frontpage image" class="left photo" /-->
  <p>Volunteers are the backbone of our organization, and we couldn't continue our unique and much-needed programs without people like YOU! Volunteer opportunities include session volunteers, equine care, board members, volunteer coordinator, facility maintenance, office assistance, and more! Service project opportunities for groups are available as well. <br>
    Please email us at <a href="mailto:volunteer@helpcenterofaustin.org">volunteer@helpcenterofaustin.org</a> for more information and to set up a tour.</p>

  <h2>Volunteer Orientation</h2>
  <p>We hold Volunteer Orientation once a month at HELP, typically the 3rd Saturday of the month from 1:30-4p. You do not need to attend a VO before you begin volunteering but it's a great way to learn about our programs and volunteer opportunities! Email us today to confirm the next VO session and to sign up to attend.</p>

  <p>For those of you ready to start volunteering, our volunteer application is available for download <a href="/HELP_Volunteer_Form.docx">here</a>. Please do not email your application, bring it with you to your appointment.</p>

  <app-carousel [_images]="volunteerImages"></app-carousel>
  <p><b>We are always in need of volunteers who can assist in making sessions successful. Thank you for your continued support!</b>
</div>
