
<h2>What is HELP?</h2>
<p>HELP is a non-profit Therapeutic Riding Center for people with disabilities. We teach horsemanship and horseback riding skills to improve life skills.
</p>
<p>HELP has been serving the Austin area since 1984 on our beautiful 20 acre facility just outside of Pflugerville. We not only use our arena, but are blessed with a 5 acre natural riding trail and a barn built by the Corps of Engineers in 1999. Contact us today to schedule a tour.
</p>
<div id="class6">

  <h2>Hours of Operation</h2>
  <p>HELP is open Tuesday - Saturday each week from 9am-6pm, seasonal hours may apply. To protect the privacy of our riders please contact us to schedule a visit/tour. <a href="mailto:info@helpcenterofaustin.org">Please contact us for more information</a>.</p>
  <h2>Take a Tour</h2>
  <p>We welcome visitors and would love to give you a tour! To protect the privacy of our riders please contact us to schedule a visit/tour.
  </p><h3><b>Check out a few pictures of our facility on the <a href="http://www.helpcenterofaustin.org/horses.html">Meet the Herd</a> page!</b></h3>
  <p></p>
  <h2 id="#about">Contact Information</h2>
  <p><strong>Email</strong>: <a href="mailto:info@helpcenterofaustin.org">Info@HelpCenterofAustin.org</a> </p>
  <p><strong>Phone</strong>: (512) 413-4371</p>
  <p><strong>Mailing Address</strong>: 2908-B East Howard Lane<br>
    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Manor, TX 78653    </p>
  <p><strong>Address</strong>: 2908 E. Howard Lane
  </p><h2>Location</h2>

  <p>
    We're conveniently located minutes from IH-35 and TX-130 in the Greater Austin area, just south of Pflugerville on E. Howard Lane.<br>
    Use the convenient Google Map below and check out the Street View to get familiar with our entrance.</p>


  <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d55065.39708301395!2d-97.66077262899844!3d30.39107436815782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e1!4m0!4m5!1s0x8644cf358474d407%3A0xf232e55d023a1708!2sHorse+empowered+learning+programs!3m2!1d30.391005!2d-97.62575299999999!5e0!3m2!1sen!2sus!4v1459276833429" width="750" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  <br>


</div>
