<!--The content below is only a placeholder and can be replaced.-->
<div >

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>HELP Center of Austin</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav disableClose opened>
      <mat-nav-list>
        <mat-list-item>
          <span>Visit</span>
        </mat-list-item>
        <mat-list-item>
          <span>Volunteer</span>
        </mat-list-item>
        <mat-list-item>
          <span>Donate</span>
        </mat-list-item>
        <mat-list-item>
          <span>Meet The Herd</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="text-align:center" class="content" >
        <h1>
          Welcome to HELP!
        </h1>
        <img height="80%" width="80%" src="assets/farm.jpg">
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
