<div class="app">
  <div class="app-header">
    <mat-toolbar color="primary" class="navbar">
        <span class="fill-space"></span>
        <button mat-button disableRipple routerLink="/">Home</button>
        <button mat-button disableRipple routerLink="visit">Visit</button>
        <button mat-button disableRipple routerLink="volunteer">Volunteer</button>
        <button mat-button disableRipple routerLink="donate">Donate</button>
        <button mat-button disableRipple routerLink="meetTheHerd">Meet The Herd</button>
    </mat-toolbar>
    <mat-toolbar class="page-header">
      <span class="logo">
        <img src="{{logo}}">
      </span>
      <mat-toolbar-row class="row-1">
        <span class="help-title">HELP Center of Austin</span>
      </mat-toolbar-row>
      <mat-toolbar-row class="row-2">
        <span class="help-sub-title">Horse Empowered Learning Programs</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
