mat-sidenav {
  width: 200px;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

.app {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 80px; /* height of top-nav */
  bottom: 0;
  left: 0;
  right: 0;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-top-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 0px;
}

.app-top-nav-row {
  display: flex;
  justify-content: flex-end;
}

.app-top-nav-title {
  display: flex;
}

.fill-space{
  flex: 1 auto;
}
.app-content {
  text-align: center;
}
