@import '~@angular/material/theming';
@import '../styles';

$header-size: 64px;
$help-header-size: 80px;

.app {
  position: absolute;
  top: $header-size;
  bottom: 0;
  left: 0;
  right: 0;

  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .navbar {
      @include mat-elevation(6);

      color: $font-color;

      .mat-button {
        font-size: 14px;
        height: $header-size;
        .mat-button-focus-overlay {
          border-bottom: 1px solid $accent;
        }
      }
    }
    .fill-space{
      flex: 1 auto;
    }
    .page-header {
      display: grid;
      grid-template-columns: 6em 1em 6em;
      grid-template-rows: 2em 1em 2em;
      background: white;
      .logo {
        grid-column:1/2;
        grid-row:1/4;
        img {
          max-width:100%;
          max-height:100%;
        }
      }
      .row-1{
        grid-column:2/3;
        grid-row: 1/2;
        .help-title {
          font-weight: 600;
          font-size: 24px;
        }
      }
      .row-2{
        grid-column:2/3;
        grid-row: 2/3;
        .help-sub-title {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }
  }
  .app-content {
    padding-top: $help-header-size;
  }
}
.page-body {
  margin-left: $page-margin;
  margin-right: $page-margin;
}
