@import '~@angular/material/theming';

.app {
  position: absolute;
  top: 64px; /* height of top-nav */
  bottom: 0;
  left: 0;
  right: 0;

  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    mat-toolbar {
      @include mat-elevation(6);
    }
    .app-top-nav-row {
      display: flex;
      justify-content: flex-end;

      .mat-button-wrapper {
        font-size: 14px;
      }
    }
  }

  .fill-space{
    flex: 1 auto;
  }
  .app-content {
    text-align: center;
  }
}
