<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <div class="app-header mat-elevation-z6">
    <mat-toolbar color="primary" class="mat-typography" class="app-top-nav">
      <mat-toolbar-row class="app-top-nav-row">
        <span>HELP Center of Austin</span>
        <span class="fill-space"></span>
        <button mat-button>Visit</button>
        <button mat-button>Volunteer</button>
        <button mat-button>Donate</button>
        <button mat-button>Meet The Herd</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>


  <div class="app-content">
      <mat-toolbar class="app-toolbar" color="accent">
          <span class="fill-space"></span>
          <span>Horse Empowered Learning Programs</span>
      </mat-toolbar>
      <img height="100%" width="100%" src="assets/farm.jpg"><br/>
      <img height="80%" width="80%" src="assets/farm.jpg"><br/>
      <img height="80%" width="80%" src="assets/farm.jpg"><br/>
      <img height="80%" width="80%" src="assets/farm.jpg"><br/>
      <img height="80%" width="80%" src="assets/farm.jpg"><br/>
  </div>
</div>
