@import '../../../styles';

.slideshow-container {
  max-height: 1080px;
  overflow:hidden;
}
.slide {
  position: sticky;
  z-index: -9;
 }
.slide > img {
  width: 100%;
  height: auto;
}

.slide-bar {
  text-align:center;
  margin-top: -30px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $help-purple;
}
