<a class="social-link"  href="https://www.facebook.com/HELPCenterofAustin/">
  <img class="social-icon" src="assets/home/social/fb-icon.png">
</a>
<a class="social-link"  href="https://www.instagram.com/h.e.l.p._horse_empowered/">
  <img class="social-icon" src="assets/home/social/instagram-icon.png">
</a>
<a class="social-link" href="https://twitter.com/HorseEmpowered">
  <img class="social-icon" src="assets/home/social/twitter-icon.png">
</a>
<a class="social-link" href="mailto:info@helpcenterofaustin.org">
  <img class="social-icon email-icon" src="assets/home/social/email.png">
</a>
<a class="social-link" href="tel:+15124134371">
  <img class="social-icon phone-icon" src="assets/home/social/phone.png">
</a>
