@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import '~@angular/material/theming';
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

body, .mat-toolbar {
  font-family: 'Open Sans', sans-serif;
}
