<app-carousel [_images]="images"></app-carousel>

<h2>What is HELP?</h2>
<p>HELP is a non-profit Therapeutic Riding Center for people with disabilities. We teach horsemanship and horseback riding skills to improve the lives and life skills of people with a wide range of challenges and disabilities. Our focus is on building a connection, increasing independence, improving social and cognitive skills while learning horsemanship and horseback riding in a safety-centered environment based on PATH International Standards.</p>
<p>
  HELP has been serving the Austin area since 1984 on our beautiful 20 acre facility just outside of Pflugerville. We not only use our arena, but are blessed with a 5 acre natural riding trail and a barn built by the Corps of Engineers in 1999.
</p>
<p>HELP is a registered 501c3 non-profit organization. We serve individuals to promote their physical, emotional, and social growth in partnership with the horse.</p>
<p>Since 1984, HELP has provided a safe and caring environment for people with challenges to experience the joy of equine partnership.</p>
<h2>Impact Statement</h2>
<p>
  HELP reaches clients from near and far! Our central location makes us accessible for clients from all over Travis and Williamson counties. The Therapeutic Riding HELP provides is a unique way for our clients to improve their life skills including physical, emotional, and cognitive in partnership with their horse and special team of volunteers. We work on social interaction (greeting horse and volunteers as well as saying Thanks and Goodbye at the end of the session), we teach horsemanship to the level the client can accomplish (brushing, tacking, getting the horse from the pasture, and so much more!) which improves confidence. All sessions at HELP are under the safety standards and guidelines of PATH International, an international certifying organization with the focus on safety and improving life skills.
</p>
<h2> Testimonials</h2>
<p>
  "We love H.E.L.P.! Maddy has been riding at H.E.L.P. for 8 years. She has very low tone and doesn't sit up on her own - except when she rides her horse! As she got taller, it was harder to sit up and for a few years she laid on her horse. She started riding Rooster and two years ago she started sitting up again. We were thrilled. Thanks to her instructor Stephanie and volunteers, and amazing horses, we've watched her improve. There is no substitute for therapeutic riding. H.E.L.P. is a strong support system and we consider them family." - Marilyn S., HELP Parent
</p>
<p>
  "Riding my horse at HELP is fun. I get to go on secret trails with people who like to help me get stronger." - Maddie S., HELP Rider.
</p>
<p>
  "As an Eagle Scout, I swore an oath to remain active in helping others in my community. I also think that horses are beautiful animals. So volunteering at HELP is a wonderful way to keep the promise I made and spend time with horses every week". - Jeffrey P., HELP Volunteer
</p>
<p>
  "I moved here from Kentucky and never expected to find an old passion for horses in such a big way but I am so glad I found it at HELP. I have been volunteering at HELP for two years and have loved being able to learn so much about how horses and people can heal each other. The bond with a horse is link none other and each week I get to horse handle for lessons to ensure the horse and rider have a successful day in the arena. I love being able to make a difference in my community each week at HELP!" - Alex H., HELP Volunteer
</p>
<p>We are a PATH International member center. </p>
<a href="http://www.pathintl.org/">
  <img src="assets/home/path.jpg" alt="PATH International"/>
</a>


<h2>Our Sponsors</h2>
<div>
  <img src="assets/home/sponsors.png" class="frontpage-sponsors"/>
</div>
